@import "~src/variables.scss";

.about {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    flex-direction: column;

    .picture {
        width: 200px;
        height: 200px;
        margin: 40px auto;
        background-image: url("../../../assets/images/taniasanchez.jpg");
        // background-image: url("../../../assets/images/me-edited.jpeg");
        // background-image: url("../../../assets/images/me-bw2.jpg");
        background-size: 200px;
        border-radius: 100%;
        transition: all 0.3s;
    }

    .biography {
        display: flex;

        .quotes {
            display: flex;
            align-items: center;
            width: 60px;
            margin: 0 20px;
        }

        .text {
            width: 600px;
            margin: 0 auto;
            text-align: center;
            color: $color-grey-darker;

            span {
                font-weight: bold;
                &.swimming {
                    color: $color-blue;
                }

                &.music {
                    color: $color-pink;
                }
                &.cooking {
                    color: $color-green-lighter;
                }
            }
        }
    }

    .competences-container {
        margin-top: 40px;
        width: 500px;
        display: flex;
        justify-content: space-evenly;

        button {
            color: #4c4c4c !important;
        }
    }
}

:host-context(.is-desktop) {
    .about {
        min-height: 900px;
    }
}

:host-context(.is-tablet) {
    .about {
        min-height: 700px;
    }
}

:host-context(.is-mobile) {
    .about {
        min-width: 250px;

        .picture {
            width: 150px;
            height: 150px;
            background-size: 150px;
        }

        .biography {
            display: block;

            .quotes {
                width: 40px;
                margin: 0 auto;
            }

            .text {
                width: 85%;
                font-size: 14px;

                span {
                    font-weight: normal;
                    color: $color-grey-darker;
                }
            }
        }

        .competences-container {
            width: 85%;

            > button {
                &.btn-how_to_reg {
                    color: $color-pink !important;
                }

                &.btn-search {
                    color: $color-blue !important;
                }
                &.btn-group {
                    color: $color-purple !important;
                }
                &.btn-emoji_objects {
                    color: $color-yellow !important;
                }
                &.btn-autorenew {
                    color: $color-green-lighter !important;
                }
                &.btn-forum {
                    color: $color-orange !important;
                }
            }
        }
    }
}

.picture:hover {
    // background-image: url("../../../assets/images/tania.jpeg")!important;
    border-radius: 25px !important;
    // width: 150px !important;
    // height: 200px !important;
    // background-size: 75px !important;
    // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    // border: 2px solid red;
}

.competences-container > button {
    &.btn-how_to_reg:hover {
        color: $color-pink !important;
    }

    &.btn-search:hover {
        color: $color-blue !important;
    }
    &.btn-group:hover {
        color: $color-purple !important;
    }
    &.btn-emoji_objects:hover {
        color: $color-yellow !important;
    }
    &.btn-autorenew:hover {
        color: $color-green-lighter !important;
    }
    &.btn-forum:hover {
        color: $color-orange !important;
    }
}
