<div class="about">
    <div class="picture"></div>
    <div class="biography">
        <div class="quotes">
            <img src="../../../assets/images/icons/png/quotemark-left.png" alt="">
        </div>
        <div class="text">
            <p>
                Mi nombre es Tania Gisela Sánchez González y tengo 25 años.
            </p>
            <p>
                Soy Ingeniera en Computación egresada de la FES
                Aragón de la Universidad Nacional Autónoma de México.
                Mi pasión por la programación inició a partir del
                bachillerato del cual obtuve el título de Técnico en Informática.
            </p>
            <p>
                Algunas de las cosas que me gustan hacer es <span class="swimming">nadar</span>,
                <span class="music">escuchar música</span> y
                <span class="cooking">cocinar</span>.
            </p>
        </div>
        <div class="quotes">
            <img src="../../../assets/images/icons/png/quotemark-right.png" alt="">
        </div>
    </div>

    <div class="competences-container">
        <ng-container *ngFor="let competence of competences">
            <button mat-icon-button [ngClass]="['btn-' + competence.icon]" [matTooltip]="competence.title"
                [matTooltipPosition]="'below'" (click)="openCompetenceDialog(competence.title, competence.description)">
                <mat-icon>{{competence.icon}}</mat-icon>
            </button>
        </ng-container>
    </div>

</div>