.mat-dialog-title {
    font-family: ChauPhilomeneOne;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .mat-icon-button.close {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0px;
    }
}

.mat-dialog-content {
    text-align: center;
}