<div class="home">
    <div class="helloworld">
        <img src="../../../assets/images/holamundogrey.png">
        <!-- <div style="width: 400px; height: inherit; position: absolute;">
            <img src="../../../assets/images/holamundogrey.png" style="width: inherit!important; height: inherit!important;">
            <img src="../../../assets/images/words/png/mundov2.png" style="position: absolute;">
        </div> -->
    </div>

    <div class="info">
        <div>
            <div> Mi nombre es <strong>Tania</strong></div>
        </div>
        <div>
            Soy desarrolladora de software
        </div>
    </div>
</div>