<div style="display: flex; width: 90%; margin: auto; height: 100%;">
    <div class="helloworld" style="width: 50%; height: auto; display: flex; justify-content: center; align-items: center;">
        <img src="../../../assets/images/holamundo.png" style="width: 500px;">
    </div>
    <div class="info" style="width: 50%; height: auto; font-size: 30px; justify-content: flex-start; align-items: center; display: flex; flex-direction: column;">
        Mi nombre es Tania y soy desarrolladora de software
    </div>
</div>