@import "~src/variables.scss";

.skills {
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;

    .skills-container {
        width: 800px;

        .skill-wrapper {
            .hand-display {
                position: relative;
                float: left;

                .hand {
                    position: absolute;
                    width: inherit;
                    height: inherit;
                }
            }

            .skill-display {
                display: flex;
                // align-items: center;
                position: relative;
                margin-left: 300px;
                text-align: left;
                overflow: hidden;
                // height: 443px;
                flex-direction: column;
                justify-content: center;

                .skill {
                    transition: transform 0.5s;
                    height: 180px;

                    > [class*="skill-"] {
                        transition-duration: 0.6s;
                    }

                    .title {
                        // font-family: SundayBest;
                        font-family: ChauPhilomeneOne;
                        color: $color-grey;
                        font-size: 48px;
                    }

                    .info {
                        font-size: 20px;
                        font-family: QuicksandLight;
                        color: $color-grey-darker;
                    }
                }

                .nav {
                    padding-top: 25px;
                    width: 100px;
                    display: flex;
                    justify-content: space-between;

                    .button {
                        height: 38px;
                        width: 38px;
                        overflow: hidden;

                        .icn:hover {
                            transform: translateY(-38px);
                        }
                    }
                }
            }
        }
    }
}

:host-context(.is-desktop) {
    .skills {
        min-height: 900px;

        .skills-container {
            width: 900px;

            .hand-display {
                width: $desktop-skill-width;
                height: $desktop-skill-height;
            }

            .skill-display {
                height: $desktop-skill-height;
            }
        }
    }
}

:host-context(.is-tablet) {
    .skills {
        min-height: 700px;

        .hand-display {
            width: $tablet-skill-width;
            height: $tablet-skill-height;
        }

        .skill-display {
            height: $tablet-skill-height;
        }
    }
}

:host-context(.is-mobile) {
    .skills {
        min-height: 600px;

        .skill-wrapper {
            display: block;

            .hand-display {
                width: $mobile-skill-width;
                height: $mobile-skill-height;
                float: inherit;
                margin: auto;
            }

            .skill-display {
                margin-left: 0px;
                text-align: center;

                .skill {
                    width: 85%;
                    margin: 20px auto;
                    height: 160px;
                    display: flex;
                    align-items: center;

                    .title {
                        font-size: 40px;
                    }

                    .info {
                        font-size: 16px;
                    }
                }

                .nav {
                    margin: auto;
                    padding-top: 0;
                }
            }

           
        }
    }
}
