@font-face {
    font-family: ChauPhilomeneOne;
    src: url(assets/fonts/ttf/ChauPhilomeneOne.ttf);
}

@font-face {
    font-family: QuicksandLight;
    src: url(assets/fonts/ttf/Quicksand-Light.ttf);
}

@font-face {
    font-family: QuicksandSemiBold;
    src: url(assets/fonts/ttf/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: QuicksandBold;
    src: url(assets/fonts/ttf/Quicksand-Bold.ttf);
}
