$color-grey: rgba(76, 76, 76);
$color-pink: rgba(233, 161, 185);
$color-orange: rgba(241, 120, 47);
$color-green: rgba(149, 194, 115);
$color-yellow: rgba(231, 185, 45);

$desktop-skill-width: 235px;
$desktop-skill-height: 443px;

$tablet-skill-width: 192px;
$tablet-skill-height: 363px;

$mobile-skill-width: 140px;
$mobile-skill-height: 264px;
